html{
    margin: 0;
} 
body{
    margin: 0;
    background-image: url('../images/fondo.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 14px;
    font-family: "Times New Roman";
}
a{
    color: #000;
    text-decoration: none;
}
.current-menu-item > a{
    color:#b6b6b6;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
ul{
    padding-left: 15px;
}
/*********contrdiciendo el slider*****************/
.bx-wrapper{
    margin: 0;
    .bx-controls{
        display: none;
    }
    .bx-viewport{
        margin: 0;
        border: 0;
        left: 0;
        .bxslider{
            margin: 0;
        }
    }
}
/***************************************************/
.header{
    background: #FFF;
    height: 112px;    
    .content-header{
        width: 1000px;
        margin: 0 auto;                
        .logo{
            margin: 0;
            float:  left;
        }
        .nav{  
            float: left;
            text-transform: uppercase;
            ul{ 
                list-style: none;
                margin: 72px 0 0;             
                li{
                    display: inline-block;
                    padding: 0 10px;
                    border-right:  1px solid;
                }
                :last-child{
                    border-right: none;
                }
            }
        }
    }
}
.content{
    width: 1000px;
    margin: 28px auto 0;   
    .img-slide{
        background: url('../images/transpa-fondo.png') ;
        padding: 13px;
        margin-bottom:20px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .inner{
        padding: 17px;
        background: #FFF;
        display:inline-block;
        .inner-content{            
            float: left;
            margin-right: 15px;
            width: 574px;
            font-size: 18px;
            color: #494949;
            padding: 0 0 0 20px;

        }
        .inner-sidebar{
            width: 326px;
            float: left;
            background: #EF9B9B;
            padding: 15px;
            color: #fff;
            ul.gallery-images{ 
                margin: 0;
                list-style: none;
                padding: 0;
                li{                    
                    display: inline-block;
                    width: 49%;
                    margin-bottom: 5px;

                    a{
                        img{
                            border: 1px solid #fff;
                            display: block;
                            margin: 0 auto;
                            max-height: 100px;
                            min-height: 100px;
                            width: 97%;
                        }  
                    }

                }
            }
        }
    }
}
.download-file{
    display: block;
    background-color: #393939;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
    text-align: center;
    .pdf-icon{
        position: absolute;
        right: 0;
        top: 0;
    }
}
.pdf-icon{
    width: 66px;
    height: 64px;
    display: block;
    background-image: url('../images/icon-pdf.png');
}
.footer{
    .logo{
        text-align: center;
    }
}